/* x-small devices (landscape phones, 250px and up) */
@media screen and (min-width: 250px) {
    
    .faq-question{
        font-size: 3.75vw;
    }
    .faq-answer{
        font-size: 3.25vw;
    }   

} 

/* Small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) {

    .faq-question{
        font-size: 3.5vw;
    }
    .faq-answer{
        font-size: 2.75vw;
    }  

} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
   
    .faq-question{
        font-size: 3.5vw;
    }
    .faq-answer{
        font-size: 3.5vw;
    }  
} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    
    .faq-question{
        font-size: 3.5vw;
    }
    .faq-answer{
        font-size: 2.5vw;
    }  
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    
    .faq-question{
        font-size: 3.5vw;
    }
    .faq-answer{
        font-size: 2.5vw;
    }  
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    
    .faq-question{
        font-size: 3.5vw;
    }
    .faq-answer{
        font-size: 2.15vw;
    }  

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 
    
    .faq-question{
        font-size: 3.5vw;
    }
    .faq-answer{
        font-size: 2vw;
    }  

}





