/* x-small devices (landscape phones, 250px and up) */
@media screen and (min-width: 250px) {
    
    .pop-cont{
        width: 90%;
    }

    .live-pop{
        font-size: 6vw;
    }

    .message-p{
        font-size: 4vw;
    }

    .mint-p{
        font-size: 4vw;
    }
    
    .countdown-main {
        font-size: 3.5vw;
    }

    .title-main{
        max-width: 90%;
    }

    .nav-main{
        max-width: 110%;
    }
    
    .social-main-container {
        width: 65%;
    }

    .social-main{
        max-width: 42.5%;
    }

    .signup-main{
        font-size: 5vw;
    }

    .input-container-main {
        width: 85%;
    }

    .input-main {
        font-size: 3.5vw;
    }

    .submit-main{
        font-size: 3.5vw;
    }

    .lfg-main {
        font-size: 3.5vw;
        width: 75%;

    }

    .terms-main{
        font-size: 3.25vw;
    }

    .copyright-main{
        font-size: 3vw;
    }

} 

/* Small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) {

    .pop-cont{
        width: 90%;
    }

    .countdown-main {
        font-size: 3.5vw;
    }

    .title-main{
        max-width: 90%;
    }

    .nav-main{
        max-width: 110%;
    }
    
    .social-main-container {
        width: 65%;
    }

    .social-main{
        max-width: 37.5%;
    }

    .signup-main{
        font-size: 4.5vw;
    }

    .input-container-main {
        width: 80%;
    }

    .input-main {
        font-size: 3.25vw;
    }

    .submit-main{
        font-size: 3.25vw;
    }

    .lfg-main {
        font-size: 3vw;
        width: 70%;

    }

    .terms-main{
        font-size: 3.25vw;
    }

    .copyright-main{
        font-size: 3vw;
    }
} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

    .pop-cont{
        width: 90%;
    }

    .countdown-main {
        font-size: 3.25vw;
    }

    .title-main{
        max-width: 90%;
    }

    .nav-main{
        max-width: 110%;
    }
    
    .social-main-container {
        width: 75%;
    }

    .social-main{
        max-width: 32.5%;
    }

    .signup-main{
        font-size: 4.25vw;
    }

    .input-container-main {
        width: 75%;
    }

    .input-main {
        font-size: 3.25vw;
    }

    .submit-main{
        font-size: 3.25vw;
    }

    .lfg-main {
        font-size: 3vw;
        width: 65%;

    }

    .terms-main{
        font-size: 2.5vw;
    }

    .copyright-main{
        font-size: 2.25vw;
    }
} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 

    .pop-cont{
        width: 90%;
    }

    .countdown-main {
        font-size: 3.25vw;
    }

    .title-main{
        max-width: 80%;
    }

    .nav-main{
        max-width: 90%;
    }

    .social-main-container{
        width: 60%;
    }

    .social-main{
        max-width: 30%;
    }

    .signup-main{
        font-size: 3.75vw;
    }

    .input-container-main {
        width: 65%;
    }

    .input-main {
        font-size: 2.25vw;
    }

    .submit-main{
        font-size: 2.25vw;
    }

    .lfg-main {
        font-size: 2.25vw;
        width: 55%;

    }

    .terms-main{
        font-size: 2vw;
    }

    .copyright-main{
        font-size: 1.75vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    .pop-cont{
        width: 70%;
    }
    .live-pop{
        font-size: 5vw;
    }

    .message-p{
        font-size: 3vw;
    }

    .mint-p{
        font-size: 4vw;
    }

    .countdown-main {
        font-size: 3vw;
    }

    .title-main{
        max-width: 80%;
    }

    .nav-main{
        max-width: 90%;
    }

    .social-main-container{
        width: 55%;
    }

    .social-main{
        max-width: 27.5%;
    }

    .signup-main{
        font-size: 3.5vw;
    }

    .input-container-main {
        width: 60%;
    }

    .input-main {
        font-size: 2vw;
    }

    .submit-main{
        font-size: 2vw;
    }

    .lfg-main {
        font-size: 2vw;
        width: 52.5%;

    }

    .terms-main{
        font-size: 1.75vw;
    }

    .copyright-main{
        font-size: 1.5vw;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    .countdown-main {
        font-size: 2.5vw;
    }

    .title-main{
        max-width: 80%;
    }

    .nav-main{
        max-width: 90%;
    }

    .social-main-container{
        width: 52.5%;
    }

    .social-main{
        max-width: 25%;
    }

    .signup-main{
        font-size: 3.25vw;
    }

    .input-container-main {
        width: 55%;
    }

    .input-main {
        font-size: 1.75vw;
    }

    .submit-main{
        font-size: 1.75vw;
    }

    .lfg-main {
        font-size: 1.75vw;
        width: 47.5%;

    }

    .terms-main{
        font-size: 1.5vw;
    }

    .copyright-main{
        font-size: 1.25vw;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 

    .pop-cont{
        width: 50%;
    }
    .live-pop{
        font-size: 3.5vw;
    }

    .message-p{
        font-size: 2vw;
    }

    .mint-p{
        font-size: 3vw;
    }

    .countdown-main {
        font-size: 2vw;
    }

    .title-main{
        max-width: 85%;
    }

    .nav-main{
        max-width: 95%;
    }

    .social-main-container{
        width: 52.5%;
    }

    .social-main{
        max-width: 22.5%;
    }

    .signup-main{
        font-size: 3vw;
    }

    .input-container-main {
        width: 52.5%;
    }

    .input-main {
        font-size: 1.75vw;
    }

    .submit-main{
        font-size: 1.75vw;
    }

    .lfg-main {
        font-size: 1.5vw;
        width: 47.5%;

    }

    .terms-main{
        font-size: 1.25vw;
    }

    .copyright-main{
        font-size: 1.25vw;
    }
}


.formkit-alert.formkit-alert-success{

    padding: 1%;

    background-color: green;
    color: greenyellow;
    border: greenyellow solid 5px;
    border-radius: 10px;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;

}

.Flora-Font {

    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;

}






