.container {

    display: flex;
    
}

.wrap {

    flex-wrap: wrap;

}

.direct-row {

    flex-direction: row;

}

.direct-col {

    flex-direction: column;
    
}

.of-hidden {

    overflow: hidden;

}

.of-x-hidden {

    overflow-x: hidden;

}

.of-y-hidden {

    overflow-y: hidden;

}

.of-scroll {

    overflow: scroll;

}

.of-x-scroll {

    overflow-x: scroll;

}

.of-y-scroll {

    overflow-y: scroll;

}
.w-0{

    width: 0;

}

.w-10{

    width: 10%

}

.w-25 {
    
    width: 25%;

}

.w-50 {

    width: 50%;

}

.w-75 {

    width: 75%;

}

.w-90 {

    width: 90%;

}

.w-100 {

    width: 100%;

}

.h-auto {

    height: auto;

}

.h-0 {

    height: 0;

}

.h-25 {

    height: 25%;

}

.h-50 {

    height: 50%;
    
}

.h-75 {

    height: 75%;
    
}

.h-100 {

    height: 100%;
    
}

.p-0 {

    padding: 0;
    
}

.p-1 {

    padding: 1%;

}

.p-2 {

    padding: 2%;

}

.p-3 {

    padding: 3%;

}

.p-4 {

    padding: 4%;

}

.p-5 {

    padding: 5%;

}

.p-tb-1 {

    padding: 1% 0;

}

.p-tb-2 {

    padding: 2% 0;
    
}

.p-tb-3 {

    padding: 3% 0;
    
}

.p-tb-4 {

    padding: 4% 0;
    
}

.p-tb-5 {

    padding: 5% 0;
    
}

.p-lr-1 {

    padding: 0 1%;

}

.p-lr-2 {

    padding: 0 2%;

}

.p-lr-3 {

    padding: 0 3%;

}

.p-lr-4 {

    padding: 0 4%;

}

.p-lr-5 {

    padding: 0 5%;

}

.m-auto {

    margin: auto;

}

.m-0 {

    margin: 0;

}

.m-1 {

    margin: 1%;

}

.m-2 {

    margin: 2%;

}

.m-3 {

    margin: 3%;

}

.m-4 {

    margin: 4%;

}

.m-5 {

    margin: 5%;

}

.m-tb-1 {

    margin: 1% 0;

}

.m-tb-2 {

    margin: 2% 0;

}

.m-tb-3 {

    margin: 3% 0;

}

.m-tb-4 {

    margin: 4% 0;

}

.m-tb-5 {

    margin: 5% 0;

}

.m-lr-1 {

    margin: 0 1%;

}

.m-lr-2 {

    margin: 0 2%;

}

.m-lr-3 {

    margin: 0 3%;

}

.m-lr-4 {

    margin: 0 4%;

}

.m-lr-5 {

    margin: 0 5%;

}

.align-left {

    align-items: left;

}

.align-center {

    align-items: center;

}

.align-right {

    align-items: right;

}

.space-evenly {

    justify-content: space-evenly;

}

.space-between {

    justify-content: space-between;

}

.justify-center {

    justify-content: center;

}

.justify-start {

    justify-content: start;

}

.justify-end {

    justify-content: end;

}

.text {

    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;

}

.text-left {

    text-align: left;

}

.text-center {

    text-align: center;

}

.text-right {

    text-align: right;

}

.fs-1 {

    font-size: 1vw;

}

.fs-2 {

    font-size: 2vw;

}

.fs-3 {

    font-size: 3vw;

}

.fs-4 {

    font-size: 4vw;

}

.fs-5 {

    font-size: 5vw;

}

.red {

    color: #C73E7C;

}

.white {

    color: white;

}

.br-5 {

    border-radius: 5px;

}

.br-10 {

    border-radius: 10px;

}

.br-25 {

    border-radius: 25%;

}

.br-50 {

    border-radius: 50%;

}

.br-75 {

    border-radius: 75%;

}

.br-100 {

    border-radius: 100%;

}


.btn {

    border: none;

}

.solid-white {

    background-color: white;
    color: #C73E7C;

}

.solid-red {

    background-color: #C73E7C;
    color: white;

}

.trans-red {

    background: none;
    color: #C73E7C;

}

.trans-white {

    background: none;
    color: white;

}

.bg-norepeat {

    background-repeat: no-repeat;

}

.bg-repeat {

    background-repeat: repeat;
    
}

.bg-p-top {

    background-position: top;

}

.bg-p-bot {

    background-position: bottom;
    
}

.bg-p-left {

    background-position: left;
    
}

.bg-p-right {

    background-position: right;
    
}

.bg-p-center {

    background-position: center;
    
}

.bg-s-10 {

    background-size: 10%;

}

.bg-s-25 {

    background-size: 25%;

}

.bg-s-50 {

    background-size: 50%;

}

.bg-s-75 {

    background-size: 75%;

}

.bg-s-100 {

    background-size: 100%;

}

.img {

    height: auto;

}

.img-10 {

    max-width: 10%;

}

.img-20 {

    max-width: 20%;

}

.img-30 {

    max-width: 30%;

}

.img-40 {

    max-width: 40%;

}

.img-50 {

    max-width: 50%;

}

.img-60 {

    max-width: 60%;

}

.img-70 {

    max-width: 70%;

}

.img-80 {

    max-width: 80%;

}

.img-90 {

    max-width: 90%;

}

.img-100 {

    max-width: 100%;

}

.absolute {

    position: absolute;

}

.relative {

    position: relative;

}

.fixed {

    position: fixed;

}

.center {

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

.transition-1 {

    transition: 1s;

}

.transition-2 {

    transition: 2s;
    
}

.transition-3 {

    transition: 3s;
    
}

.transition-4 {

    transition: 4s;
    
}

.transition-5 {

    transition: 5s;
    
} 

.t-0 {

    top: 0;
}

.t-25 {

    top: 25%;
}

.t-50 {

    top: 50%;
}

.t-75 {

    top: 75%;
}

.t-100 {

    top: 100%;
}

.b-0 {

    bottom: 0;

}

.r-0 {

    right: 0;

}

.l-0 {

    left: 0;
    
}

.z-1 {

    z-index: 1;

}

.z-2 {

    z-index: 2;
    
}

.z-3 {

    z-index: 3;
    
}

.z-4 {

    z-index: 4;
    
}

.z-5 {

    z-index: 5;
    
}

.grow-1 {

    flex-grow: 1;

}

.grow-2 {

    flex-grow: 2;
    
}

.grow-3 {

    flex-grow: 3;
    
}

.grow-4 {

    flex-grow: 4;
    
}

.grow-5 {

    flex-grow: 5;
    
}

.link {

    text-decoration: none;
    
}