/* Small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) {
    .title-team{
        font-size: 4vw;
    }
    .subTitle-team{
        font-size: 3.25vw;
    }
} 

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    .title-team{
        font-size: 4vw;
    }
    .subTitle-team{
        font-size: 3.25vw;
    }
} 

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    .title-team{
        font-size: 4vw;
    }
    .subTitle-team{
        font-size: 3vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .title-team{
        font-size: 4vw;
    }
    .subTitle-team{
        font-size: 2.75vw;
    } 
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    .title-team{
        font-size: 4vw;
    }
    .subTitle-team{
        font-size: 2.5vw;
    } 
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 
    .title-team{
        font-size: 4vw;
    }
    .subTitle-team{
        font-size: 2.5vw;
    } 
}