/* Small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) { 
    .road-title{
        font-size: 4vw;
    }
    .road-description{
        font-size: 3.25vw;
    }
    .road-second-title{
        font-size: 3.25vw;
    }
    .road-second-description{
        font-size: 3vw;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    .road-title{
        font-size: 4vw;
    }
    .road-description, .road-second-title{
        font-size: 3.25vw;
    }
    .road-second-description{
        font-size: 3vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .road-title{
        font-size: 3.5vw;
    }
    .road-description, .road-second-title{
        font-size: 2.75vw;
    }
    .road-second-description{
        font-size: 2.5vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .road-title{
        font-size: 3vw;
    }
    .road-description, .road-second-title{
        font-size: 2vw;
    }
    .road-second-description{
        font-size: 1.75vw;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    .road-title{
        font-size: 2.75vw;
    }
    .road-description, .road-second-title{
        font-size: 1.75vw;
    }
    .road-second-description{
        font-size: 1.5vw;
    }
}


/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 
    .road-title{
        font-size: 2.75vw;
    }
    .road-description, .road-second-title{
        font-size: 1.75vw;
    }
    .road-second-description{
        font-size: 1.5vw;
    }
}





