/* Small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) {
    .web3-planted{
        font-size: 2.75vw;
    }
    .web3-congrats{
        font-size: 8.75vw;
    }
    .web3-animation{
        max-width: 70%;
    }
    .web3-reveal{
        font-size: 5.5vw;
    }
    .web3-reveal-winter{
        font-size: 4vw;
    }
    .web3-open{
        font-size: 5vw;
    }
  } 
  
  /* Small devices (landscape phones, 576px and up) */
  @media screen and (min-width: 576px) {
    .web3-planted{
        font-size: 2.75vw;
    }
    .web3-congrats{
        font-size: 7vw;
    }
    .web3-animation{
        max-width: 60%;
    }
    .web3-reveal{
        font-size: 3.5vw;
    }
    .web3-reveal-winter{
        font-size: 4vw;
    }
    .web3-open{
        font-size: 3.5vw;
    }
  } 
  
  /* Medium devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) { 
    .web3-planted{
        font-size: 2.75vw;
    }
    .web3-congrats{
        font-size: 6.5vw;
    }
    .web3-animation{
        max-width: 50%;
    }
    .web3-reveal{
        font-size: 3.25vw;
    }
    .web3-reveal-winter{
        font-size: 4vw;
    }
    .web3-open{
        font-size: 3.25vw;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media screen and (min-width: 992px) {
    .web3-planted{
        font-size: 2.75vw;
    }
    .web3-congrats{
        font-size: 5.5vw;
    }
    .web3-animation{
        max-width: 37.5%;
    }
    .web3-reveal{
        font-size: 2.75vw;
    }
    .web3-reveal-winter{
        font-size: 4vw;
    }
    .web3-open{
        font-size: 3vw;
    }
  }
  
  /* X-Large devices (large desktops, 1200px and up) */
  @media screen and (min-width: 1200px) { 
    .web3-planted{
        font-size: 2.75vw;
    }
    .web3-congrats{
        font-size: 5vw;
    }
    .web3-animation{
        max-width: 37.5%;
    }
    .web3-reveal{
        font-size: 2.25vw;
    }
    .web3-reveal-winter{
        font-size: 4vw;
    }
    .web3-open{
        font-size: 2.5vw;
    }
  }
  
  /* XX-Large devices (larger desktops, 1400px and up) */
  @media screen and (min-width: 1400px) { 
    .web3-planted{
        font-size: 2.75vw;
    }
    .web3-congrats{
        font-size: 4.25vw;
    }
    .web3-animation{
        max-width: 30%;
    }
    .web3-reveal{
        font-size: 1.75vw;
    }
    .web3-reveal-winter{
        font-size: 4vw;
    }
    .web3-open{
        font-size: 2.25vw;
    }
  }